<h1>home#index</h1>
	
<div class="remote-navi">
	<%= link_to "show step 1", "/home/step1", :class => "remote" %>
	<%= link_to "show step 2", "/home/step2", :class => "remote" %>
</div>

<div class="remote-content"></div>

<p>
	DIY direct trade biodiesel, et enim chambray thundercats salvia fugiat tempor aute assumenda fingerstache. Sustainable thundercats cray aliquip etsy. Banh mi blog gluten-free raw denim, voluptate magna deserunt biodiesel. Leggings nihil typewriter, nostrud reprehenderit selvage lo-fi echo park trust fund incididunt consequat next level chillwave pitchfork. Chambray next level craft beer post-ironic, ethnic pitchfork bespoke ut wes anderson godard. Do wes anderson commodo, street art artisan mollit next level messenger bag bicycle rights vero cray dreamcatcher. Post-ironic 8-bit velit, aliqua incididunt authentic enim occupy keytar semiotics lomo nostrud irony.
</p>

<div class="remote-navi-2">
	<%= link_to "show step 3", "/home/step3", :class => "remote" %>
</div>
<div class="other-remote-content"></div>